@use './rewrite.scss';

:root {
	--border-color-1: rgb(242, 243, 245);
	--black-color-1: rgb(60, 60, 67);
	--grey-color-1: rgb(134, 144, 156);
	--grey-color-2: rgb(229, 230, 235);
	--blue-color-1: rgb(22, 93, 255);
	--border-radius: 8px;
	img {
		display: block;
		margin: auto;
		cursor: pointer;
	}
	.vp-doc {
		h2:first-of-type {
			margin: 10px 0 16px;
			padding-top: 15px;
		}
	}
	.VPHome {
		margin-bottom: 23px;
	}
}

.dark {
	--border-color-1: rgba(255, 255, 255, 0.08);
	--black-color-1: rgba(255, 255, 255, 0.9);
	--grey-color-1: rgba(255, 255, 255, 0.5);
	--grey-color-2: rgb(72, 72, 73);
	--blue-color-1: rgb(60, 126, 255);
}